<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	{% load render_bundle from webpack_loader %}
	<meta charset="UTF-8">
	<title>Vue-project</title>
	{% render_bundle 'main' 'css'%}
</head>
<body>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column">

					<p class="control">
						<input class="input" type="text" placeholder="Тема" v-model="event.name">
					</p>
					<p class="control">
						<textarea class="textarea" placeholder="Текст" v-model="event.description"></textarea>
					</p>
					<p class="control">
						<button class="button is-primary" v-on:click="addEvent">Создать</button>
					</p>

			</div>

			<div class="column">

				<div class="message is-info" v-for="event in events" transition="message">
					<div class="message-header level" style="margin-bottom: 0;" v-if="event.name">
						<div class="level-left">
						{$ event.name $}
						</div>
						<div class="level-right">
							<button class="delete" v-on:click="deleteEvent(event.pk)"></button>
						</div>
					</div>
					<div class="message-body" v-if="event.description">
						<span class="tag" v-if="event.date">
							{$ event.date $}
						</span><br v-if="event.date">
						{$ event.description $}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	{% render_bundle 'main' 'js'%}

</body>
</html>